<body>
    <div>
        <h1>Wacky Widgets</h1>
    
        <% widgets.forEach(widget => {%>
            <% if (widgets.length === 0) {%>
                <h3>No Widgets Exist</h3> <hr>
            <% } else {%>
                <h3><%= widget.dataValues.description %> and <%= widget.dataValues.quantity %></h3> <hr>
            <% }%>
        <% })%>

    </div>
    <div>
        <h4>Add Widget</h4>
        <form method="POST" action="/">
            <label for="description">Widget Description:</label>
            <input id="description" type="text" name="description" placeholder="Widget description...">
            <label for="quantity">Widget Quantity:</label>
            <input id="quantity" type="text" name="quantity" placeholder="Widget quantity...">
            <input type="submit" value="ADD WIDGET">
        </form>
    </div>
</body>

